<% layout('layouts/boilerplate.ejs') -%> 

<link rel="stylesheet" href="/sample.css">

<h2>Create a new match</h2>

<form action="/SuperLiga/matches" method="POST">
 <div class="form-group">
     <label for="">Selectati echipa gazda<select class="select-gazde form-control" required name="host_id" id="">
            <option value="" disabled selected>echipa gazda</option>
        <%for(team of liga1.teams){%>
            <option value="<%= team._id %>"><%= team.name %> </option>
        <% } %>
     </select></label>
     <div class="my-3 lista-gazde form-check " >
     </div>
 </div>
 <div class="form-group">
     <label for="">Selectati echipa oaspete<select class="select-oaspeti form-control" required name="visit_id" id="">
        <option value="" disabled selected>echipa oaspete</option>
        <%for(team of liga1.teams){%>
            <option value="<%= team.id %>"><%= team.name %> </option>
        <% } %>
     </select></label>
     <div class="my-3 lista-gazde form-check" ></div>
 </div>

 <button class="btn btn-success my-3">Create match</button>
</form>

<script src="/showPlayers.js">

</script>
